@import 'mixins';

footer {
  @include flex(space-between, center);
  background-color: $dark-grey;
  height: 212px;
  padding: 25px;

  @media screen and (max-width: $tablet-max-width) {
    height: auto;
    flex-direction: column;

    img {
      margin: 35px 0;
    }

    nav > div {
      text-align: center;
      width: 100%;
    }

    .menu {
      flex-direction: column;
    }

    .social {
      margin: 50px 0;
    }
  }
}

.finance-support {
  @include flex(space-between, center);
  background-color: $dark-grey;
  color: $white;
  font-size: 14px;
  padding: 0 25px 25px;

  img {
    height: 50px;
    margin-left: 16px;
  }
}
