footer {
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 212px;
  padding: 25px;

  @media screen and (max-width: $mobile-max-width) {
    height: auto;

    .menu {
      flex-direction: column;
    }
  }
}
