.mobile-menu {
  background: $gradient;
  position: fixed;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  padding: 96px 24px 24px;

  nav > div {
    text-align: right;

    & + div {
      margin-top: 32px;
    }
  }

  .menu {
    flex-direction: column;
  }

  .close-button {
    top: 36px;
    right: 24px;
  }

  .social {
    margin: 32px 24px;
    text-align: right;
  }
}