<section id="intro" class="intro">
  <div class="animations">
    <div class="ornament ornament3 transite transite-up sn-10">
      <div class="ornament-white"></div>
    </div>
    <div class="ornament ornament1 transite transite-ornament sn-11">
      {% include _shared/svg/ornament-blue.svg %}
    </div>
    <div class="ornament ornament2 transite transite-ornament-with-scale sn-12">
      {% include _shared/svg/ornament-blue.svg %}
    </div>
  </div>
  <div class="content">
    <h1 class="transite transite-up sn-1">UKRAINA W CENTRUM LUBLINA&nbsp;2020</h2>
    <h2 class="second-line transite transite-up sn-2">&nbsp;ONLINE</h2>
    <h4 class="transite transite-up sn-3">Zapraszamy w naszą wspólną wędrówkę<br/>w świat ukraiński.<br/>Tworzymy festiwal razem</h4>
    <button 
      class="skew-button button-blue transite transite-up sn-4"
      onclick="uwcl.handleMenuClick('{{ site.data.menu[0].blockId }}')"
    >
      <span>LIVE</span>
    </button>
    <button 
      class="skew-button button-white-outline transite transite-up sn-5"
      onclick="uwcl.handleMenuClick('{{ site.data.menu[1].blockId }}')"
    >
      <span>Program</span>
    </button>
  </div>
</section>