<section id="intro" class="intro">
  <div class="content">
    <h1>UKRAINA W CENTRUM LUBLINA 2020</h2>
    <h1 class="second-line">ONLINE</h2>
    <h4>Zapraszamy w naszą wspólną wędrówkę w świat ukraiński.<br/>Tworzymy festiwal razem.</h4>
    <button 
      class="skew-button button-blue"
      onclick="uwcl.scrollToElement('{{ site.data.menu[0].blockId }}')"
    >
      <span>LIVE</span>
    </button>
    <button 
      class="skew-button button-white-outline"
      onclick="uwcl.scrollToElement('{{ site.data.menu[1].blockId }}')"
    >
      <span>Program</span>
    </button>
  </div>
</section>