@import 'mixins';

.partners {
  .groups {
    display: flex;
    flex-wrap: wrap;
  }

  .group {
    width: 50%;

    &.full-width {
      width: 100%;
    }

    @media screen and (max-width: $tablet-max-width) {
      width: 100%;
    }
  }

  .group-name {
    @include font(30px, bold, 40px);
    border-bottom: 2px solid $orange;
    padding-bottom: 12px;
    text-transform: uppercase;
    width: 400px;

    @media screen and (max-width: $tablet-max-width) {
      font-size: 24px;
      text-align: center;
      width: auto;
    }
  }

  .org-logo {
    height: 200px;
    padding: 36px 0;

    @media screen and (max-width: $tablet-max-width) {
      @include flex(center, center);
      padding: 24px 0;
      text-align: center;
    }

    @media screen and (max-width: $mobile-max-width) {
      height: 150px;
      padding: 12px 0;
    }

    img {
      max-height: 100%;
    }
  }

  .logos-line {
    @include flex(space-between, center);

    @media screen and (max-width: $mobile-max-width) {
      & + .logos-line .org-logo {
        height: auto;
      }
    }
  }
}