.partners {
  .groups {
    display: flex;
    flex-wrap: wrap;
  }

  .group {
    width: 50%;

    &.full-width {
      width: 100%;
    }

    @media screen and (max-width: $tablet-max-width) {
      width: 100%;
    }
  }

  .group-name {
    border-bottom: 2px solid $orange;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 12px;
    text-transform: uppercase;
    width: 400px;

    @media screen and (max-width: $tablet-max-width) {
      font-size: 24px;
      text-align: center;
      width: auto;
    }
  }

  .org-logo {
    height: 200px;
    padding: 36px 0;

    @media screen and (max-width: $tablet-max-width) {
      padding: 24px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    img {
      max-height: 100%;
    }
  }

  .logos-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}