<section id="{{ site.data.menu[2].blockId }}" class="partners">
  {% assign prefix = site.imagesPrefix | append: 'partners/' %}
  <div class="content">
    <h2>FESTIWAL PRZYGOTOWALI</h2>
    <div class="groups">
      <div class="group">
        <div class="group-name transite transite-up sn-1">ORGANIZATOR</div>
        <div class="org-logo transite transite-up sn-2">
          <img src="{{ prefix }}fkdp.jpeg">
        </div>
      </div>
      <div class="group">
        <div class="group-name transite transite-up sn-3">PATRONAT HONOROWY</div>
        <div class="org-logo transite transite-up sn-4">
          <img src="{{ prefix }}ambasada_ukrainy.JPG">
        </div>
      </div>
      <div class="group">
        <div class="group-name transite transite-up sn-5">WSPARCIE FINANSOWE</div>
        <div class="org-logo transite transite-up sn-6">
          <img src="{{ prefix }}lublin.jpg">
        </div>
      </div>
      <div class="group">
        <div class="group-name transite transite-up sn-7">PATRONAT MEDIALNY</div>
        <div class="org-logo transite transite-up sn-8">
          <img src="{{ prefix }}kultura_enter.png">
        </div>
      </div>
      <div class="group full-width">
        <div class="group-name transite transite-up sn-9">PARTNERZY</div>
        <div class="logos-line">
          <div class="org-logo transite transite-up sn-10">
            <img src="{{ prefix }}kolo_naukowe.png">
          </div>
          <div class="org-logo transite transite-up sn-11">
            <img src="{{ prefix }}logo_vadim_gierko.png">
          </div>
          <div class="org-logo transite transite-up sn-12">
            <img src="{{ prefix }}kozak_games.png">
          </div>
        </div>
        <div class="logos-line">
          <div class="org-logo transite transite-up sn-13">
            <img src="{{ prefix }}zapora.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>