<section id="{{ site.data.menu[0].blockId }}" class="live">
  <h2>FESTIWAL LIVE</h2>
  <div class="content">
    <h4>Transmisje wydarzeń festiwalowych będą dostępne w dniach 16-22 listopada 2020 r.<br>Teraz zapraszamy do obejrzenia festiwalowych wspomnień osób, które przez lata tworzyły festiwal - <br/>jako organizatorzy, wolontariusze czy goście.</h4>
    <iframe
      width="100%"
      height="600px"
      src="https://www.youtube.com/embed/videoseries?list=UUWJ2ynufArBLtTRaG77_asg&autoplay=1&loop=1&mute=1"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</section>