<section id="{{ site.data.menu[0].blockId }}" class="live">
  <h2>FESTIWAL LIVE</h2>
  {% assign calendar = site.data.event-calendar %}

  <div class="content">
    <div class="video-embed hidden">
      <h4>Transmisje wydarzeń festiwalowych będą dostępne w dniach 16-22 listopada 2020 r.<br>Teraz zapraszamy do obejrzenia festiwalowych wspomnień osób, które przez lata tworzyły festiwal - <br/>jako organizatorzy, wolontariusze czy goście.</h4>
      {% include _shared/youtube/youtube-iframe.html youtubeVideoId="videoseries?list=PLgoeM5ac1LEzuyGg26qKq2CEnCc1L243z" playlist="true" %}
    </div>
    {% for day in calendar %}
      {% for event in day.events %}
        {% if event.youtubeVideoId %}
          <div class="video-embed hidden {{day.date | date: '%Y-%m-%d'}}">
            <div class="event">
              <div class="time">{{day.date}} {{event.time}}</div>           
              <div class="title">{{event.title}}</div>
              <p class="warning">W przypadku problemów z transmisją prosimy przejść na
                <a
                  href="https://youtu.be/{{event.youtubeVideoId}}"
                  rel="noreferrer noopener"
                  target="_blank"
                >nasz kanał na youtubie.
                </a>
              </p>
            </div>
            {% include _shared/youtube/youtube-iframe.html youtubeVideoId=event.youtubeVideoId %}
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</section>

