@import 'colors';

.event-line {
  cursor: pointer;
  display: flex;
  min-height: 60px;
  position: relative;

  &:hover {
    color: $blue;
  }

  & + .event-line {
    margin-top: 24px;
  }

  .time {
    @include font(20px, 700, 28px);
    color: $orange;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: top left;
    height: 24px;
    position: absolute;
  }

  .title {
    @include font(16px, normal, 20px);
    margin-left: 36px;
  }

  .record-link {
    flex-shrink: 0;
    width: 22px;

    svg {
      fill: $orange;
    }
  }
}