@import 'colors';
@import 'mixins';

$border-width: 8px;

.event-calendar {
  .events {
    @include flex(space-around);
    flex-wrap: wrap;
  }

  .event-day {
    padding: 0 80px;
    width: 50%;
    
    &:nth-child(2n+1) {
      border-right: $border-width solid $opaque-grey;
    }

    @media screen and (max-width: $mobile-max-width) {
      border: none !important;
      margin-bottom: 24px;
      padding: 0 10px;
      width: 100%;
    }
  }

  .placeholder {
    width: 50%;

    & + .placeholder {
      border-right: $border-width solid $opaque-grey;
    }

    @media screen and (max-width: $mobile-max-width) {
      display: none;
    }
  }

  .date {
    @include font(50px, 400, 66px);
    color: $blue;
    font-family: 'Six Caps', sans-serif;
    margin-bottom: 4px;
  }
}