<section id="{{ site.data.menu[1].blockId }}"  class="event-calendar content">
  <h2>Program festiwalu</h2>
  <div class="events">
    {% assign calendar = site.data.texts.event-calendar %}
    {% for day in calendar %} 
      <div class="event-day">
        <div class="date">{{ day.date }}</div>
        {% for line in day.events %}
          {% include program/event-line.html line=line date=day.date %}
        {% endfor %}
      </div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
    {% endfor %}
  </div>
</section>