<section id="{{ site.data.menu[1].blockId }}"  class="event-calendar content">
  <h2>Program festiwalu</h2>
  <div class="events">
    {% assign calendar = site.data.texts.event-calendar %}
    {% for day in calendar %} 
    {% assign animationIndex = forloop.index + 1 | plus:2 %}
      <div class="event-day">
        <div class="date transite transite-up sn-{{animationIndex}}">{{ day.date }}</div>
        {% for line in day.events %}
          {% include program/event-line.html line=line date=day.date animationIndex=animationIndex %}
        {% endfor %}
      </div>
      <div class="placeholder"></div>
      <div class="placeholder"></div>
    {% endfor %}
  </div>
</section>
<!-- modals -->
{% for day in calendar %} 
  {% for line in day.events %}
    {% include modal/modal.html content=line date=day.date %}
  {% endfor %}
{% endfor %}
