@import 'colors';

html,
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: $mobile-max-width) {
    font-size: 32px;
  }
}

img {
  max-width: 100%;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}


.hidden {
  display: none !important;
}
