.close-button {
  @include size(32px, 32px);
  position: absolute;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &:before,
  &:after {
    @include size(2px, 33px);
    position: absolute;
    left: 15px;
    content: '';
    background-color: $white;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}