<section id="{{ site.data.menu[3].blockId }}" class="about">
  <h2>O nas</h2>
  <div class="content">
    <div>
      <p>Festiwal “Ukraina w Centrum Lublina” bierze swój początek w roku 2008 i od tej pory na stale zagościł w kalendarzu kulturalnym miasta, współtworząc jego mozaikę wielokulturową. Festiwal tworzą studenci polscy i ukraińscy dla widzów polskich i ukraińskich, przedstawiając to co piękne oraz interesujące w kulturze ukraińskiej.</p>
      <p>Poprzez muzykę, teatr, kino, sztukę użytkową, literaturę, fotografię proponujemy zanurzyć się w klimat współczesnej Ukrainy, a konkurs wiedzy dla uczniów szkół czy gra miejska wnoszą swój wyjątkowy lubelski akcent w to wydarzenie.</p>
      <p>Festiwal “Ukraina w Centrum Lublina” to almanach kultury ukraińskiej w najciekawszych jej formach:</p>
    </div>
    <div>
      <img class="logo" src="{{ site.imagesPrefix }}uwcl-logo.png" alt="{{ site.title }}" />
    </div>
  </div>
</section>