<section id="{{ site.data.menu[3].blockId }}" class="about">
  <h2>O nas</h2>
  <div class="content">
    <div class="text">
      <p class="transite transite-up sn-1">Festiwal “Ukraina w Centrum Lublina” bierze swój początek w roku 2008 i od tej pory na stale zagościł w kalendarzu kulturalnym miasta, współtworząc jego mozaikę wielokulturową. Festiwal tworzą studenci polscy i ukraińscy dla widzów polskich i ukraińskich, przedstawiając to co piękne oraz interesujące w kulturze ukraińskiej.</p>
      <p class="transite transite-up sn-2">Poprzez muzykę, teatr, kino, sztukę użytkową, literaturę, fotografię proponujemy zanurzyć się w klimat współczesnej Ukrainy, a konkurs wiedzy dla uczniów szkół czy gra miejska wnoszą swój wyjątkowy lubelski akcent w to wydarzenie.</p>
      <p class="transite transite-up sn-3">Festiwal “Ukraina w Centrum Lublina” to almanach kultury ukraińskiej w najciekawszych jej formach:</p>
      <div class="icons transite transite-up sn-4">
        {% include _shared/svg/music.svg %}
        {% include _shared/svg/video.svg %}
        {% include _shared/svg/literature.svg %}
        {% include _shared/svg/photo.svg %}
      </div>
    </div>
    <div class="logo_wrapper transite transite-left sn-5">
      <img src="{{ site.imagesPrefix }}uwcl-logo.png" alt="{{ site.title }}" />
    </div>
  </div>
</section>