.contacts {
  background-color: rgba(9, 9, 9, 0.5);
  backdrop-filter: blur(40px);
  color: $white;
  padding: 90px 0 70px;

  @media screen and (max-width: $mobile-max-width) {
    padding: 70px 0 40px;
  }

  h2 {
    margin: 0;
    margin-bottom: 20px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    text-align: center;

    @media screen and (max-width: $mobile-max-width) {
      flex-direction: column;
    }
  }

  .title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;

    @media screen and (max-width: $mobile-max-width) {
      margin-top: 36px;
    }

    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  .value {
    font-size: 20px;
    line-height: 24px;
    margin-top: 18px;

    & + .title {
      margin-top: 40px;
    }
  }
}