@import 'mixins';

.contacts {
  color: $white;
  position: relative;

  .wrapper {
    background-color: rgba(9, 9, 9, 0.5);
    backdrop-filter: blur(15px);
    padding: 90px 0 70px;
  }

  .backdrop {
    @include flex(space-around, center);
    background: $gradient; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @media screen and (max-width: $mobile-max-width) {
      padding: 70px 0 40px;
    }
  }

  .ornament-scaled {
    height: 100%;
    transform: rotate(0) scale(1.5);
  }

  h2 {
    margin: 0;
    margin-bottom: 20px;
  }

  .content {
    @include flex(space-between);
    text-align: center;

    & > div {
      flex-shrink: 0;
    }
  

    @media screen and (max-width: $tablet-max-width) {
      flex-direction: column;
    }
  }

  .title {
    @include font(30px, 400, 40px);

    @media screen and (max-width: $tablet-max-width) {
      margin-top: 36px;
    }

    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  .value {
    @include font(20px, normal, 24px);
    margin-top: 18px;

    & + .title {
      margin-top: 40px;
    }
  }
}