<section id="{{ site.data.menu[5].blockId }}" class="contacts">
  <h2>Kontakty</h2>
  <div class="content">
    <div>
      <div class="title">Telefon:</div>
      <div class="value">+48 664 480 974</div>
      <div class="title">E-mail:</div>
      <div class="value">ukrainawlublinie@gmail.com</div>
      <div class="title">Portale społecznościowe:</div>
      {% include _shared/social/social.html %}
    </div>
    <div class="form">
      <div class="title">Masz pytania? Napisz do nas!</div>
    </div>
  </div>
</section>