<section id="{{ site.data.menu[5].blockId }}" class="contacts">
  <h2>Kontakty</h2>
  <div class="content">
    <div>
      <div class="title transite transite-up sn-1">Telefon:</div>
      <div class="value transite transite-up sn-2">+48 664 480 974</div>
    </div>
    <div>
      <div class="title transite transite-up sn-3">E-mail:</div>
      <div class="value transite transite-up sn-4">ukrainawlublinie@gmail.com</div>
    </div>
    <div>
      <div class="title transite transite-up sn-5">Portale społecznościowe:</div>
      <div class="value transite transite-up sn-6">
        {% include _shared/social/social.html %}
      </div>
    </div>
  </div>
</section>