@import 'colors';
@import 'mixins';

.menu {
  @include flex(center, flex-end);

  & > div {
    color: $white;
    cursor: pointer;
    font-size: 18px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $blue;
    }

    &:first-child {
      padding: 8px 40px;
      position: relative;

      @include skew-background();

      &:hover {
        color: $white;
      }

      &:before {
        background-color: $blue;
      }
    }
  }
}