@import 'mixins';

.modal {
  @include flex(center, center);
  position: fixed;
  z-index: 3;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  
  .background {
    @include size(80vw, 80vh);
    background-color: $white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 960px;
    position: relative;

    @media screen and (max-width: $mobile-max-width) {
      @include size(90vw, 90vh);
    }
  }

  .close {
    $button-size: 28px;

    @include size($button-size, $button-size);
    @include flex(center, center);
    background-color: $orange;
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    position: absolute;
    right: -$button-size / 2;
    top: -$button-size / 2;
    
    .close-button {
      transform: scale(0.6);
    }

    &:hover {
      color: $blue;
    }
  }

  .modal-content {
    height: 100%;
    overflow-y: auto;
  }

  .image img {
    width: 100%;
  }

  .wrapper {
    padding: 24px 30px;
  }

  .heading {
    @include font(20px, bold, 28px);
    color: $blue;
    margin-bottom: 16px;
  }

  .modal-date {
    @include font(18px, bold, 24px);
    color: $grey;
    margin: 8px 0;

    span + span {
      margin-left: 24px;
    }
  }

  .record-link {
    @include font(16px, 800, 20px);
    @include size(170px, 45px);
    @include skew-background();
    color: $white;
    display: block;
    text-decoration: none;
    margin: 16px 0;

    &:before {
      background-color: $orange;
    }

  }
}